@import "../../stylings/theme1.scss";
$mid: 44%;
$side: calc((100% - $mid) / 2);

.container {
  width: calc($btnWidth / 1.8);
  aspect-ratio: 1;
  background-color: none;
}

.button {
  height: 100%;
  width: 100%;
  border-radius: 1000rem;
  background-color: $primaryColor;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.play {
  fill: $textColor;
  height: 30%;
  width: 30%;
  position: absolute;
  margin-left: 1rem;
}
.pause {
  fill: $textColor;
  height: 36%;
  width: 36%;
  position: absolute;
}
