$primaryColor: #353535;
$secondaryColor: #424242;
$textColor: #ffffff;
$btnWidth: 70%;
$btnHeight: 13%;
$mid: 44%;
$side: calc((100% - $mid) / 2);

.container {
  width: $btnWidth;
  height: $btnHeight;
  display: flex;
  flex-direction: row;
  border-radius: 2.8rem;
  background-color: $secondaryColor;
}
.left {
  background-color: $primaryColor;
  height: 100%;
  width: $side;
  justify-content: center;
  align-items: center;
  border-radius: 2.8rem 0 0 2.8rem;
}

.right {
  background-color: $primaryColor;
  height: 100%;
  width: $side;
  justify-content: center;
  align-items: center;
  border-radius: 0 2.8rem 2.8rem 0;
}
.button1 {
  background-color: $secondaryColor;
  height: 100%;
  width: $mid;
  justify-content: center;
  align-items: center;
}
.button2 {
  background-color: $primaryColor;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2.8rem;
}
.leftTxt {
  color: $textColor;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.rightTxt {
  color: $textColor;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.text {
  color: $textColor;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.7rem;
}

.textInput {
  color: $textColor;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  line-height: 2rem;
  position: absolute;
  opacity: 0;
}
.play_container {
  width: calc($btnWidth / 1.8);
  aspect-ratio: 1;
  border-radius: 1000rem;
  background-color: $primaryColor;
}

.play_button {
  height: 100%;
  width: 100%;
  border-radius: 1000rem;
  background-color: $primaryColor;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.play_icon {
  fill: $textColor;
  height: 30%;
  width: 30%;
  position: absolute;
  margin-left: 1rem;
}
.pause_icon {
  fill: $textColor;
  height: 36%;
  width: 36%;
  position: absolute;
}
.theme_container {
  width: calc($btnWidth / 2);
  aspect-ratio: 1;
  background-color: $primaryColor;
  position: absolute;
  z-index: 100;
  top: -9%;
  right: -18%;
  border-radius: 1000rem;
}
.theme_button {
  background-color: $primaryColor;
  height: 100%;
  width: 100%;
  border-radius: 1000rem;
}
.theme_icon {
  fill: $textColor;
  height: 25%;
  width: 25%;
  position: absolute;
  top: 56%;
  left: 17%;
}
